section {
    width: 45%;
    
    background-color: yellow;
    border: 1px solid black;
    height: 200px;
    -webkit-transition: width 2s, transform 2s; /* Safari */
    transition: width 6s, transform 6s;
    margin: auto;
    float: left;
    margin: 5px;
    overflow: hidden;
    position: relative;
    opacity: 0.5;
    animation: example 2s;

}
article {
    margin: auto;
    width: 60%;
}
article:after {
    content: "";
    display: block;
    clear: both;
}
aside {
    text-align: center;
    font-size: 3em;
    color: crimson;
    transition: transform 4s;
    
}
aside:hover {
    transform: rotateY(360deg);
    color: aqua;
}
.banner {
    position: absolute;
    top: 45%;
    color: blue;
    margin: 0 5%;
    font-size: 1.5em;
    text-align: center;
}
section:hover {
    width: 50%;
    opacity: 1;
    transform: rotateX(360deg);
}
.text {
    margin: auto;
    width: 60%;
    padding: 5%;
    animation: example 2s;
    position: relative;
}
@keyframes example {
    0%   {background-color: red; left:0px; top:0px;}
    25%  {background-color: yellow; left:200px; top:0px;}
    50%  {background-color: blue; left:200px; top:200px;}
    75%  {background-color: green; left:0px; top:200px;}
    100% {background-color: red; left:0px; top:0px;}
}