section {
    width: 300px;
    height: auto;
    background-color: yellow;
    border: 1px solid black;
    
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
    margin: auto;

}
section:hover {
    width: 50%;
}
.text {
    margin: auto;
    width: 60%;
}