#pop-up {
    position: relative;
    width: 60%;
    margin: auto;
    top: -300px;
    animation:  drop 1s forwards, swing 2s 2s forwards;
    transform-origin: 10px 10px;
}
.container {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 20px;
    margin: auto;

}
button {
    border-radius: 35%;
    background-color: blueviolet;
    padding: 5px;
}
input {
    padding: 5px;
    border-radius: 10%;
}
@keyframes drop {
    0% {
        
    }
    50% {
        transform: translateY(400px)
    }
    70% {
        transform: translateY(550px)
    } 
    100% {
        transform: translateY(500px)
    }
}
@keyframes swing {
    0%{ 
        transform: translateY(500px) rotateZ(0deg);
    
    }
    60%{ 
        transform: translateY(500px) rotateZ(120deg);
    }
    80%{
        transform: translateY(500px) rotateZ(80deg);
    }
    100%{
         transform: translateY(500px) rotateZ(90deg);
    }
}